<!-- aavedak application patra -->
<div class="page-a4 only-print">
  <div class="row">
    <div class="fnt-24 fnt-b txt-center">
      समक्ष न्यायालय श्रीमान तहसीलदार महोदय, _ _ _ _ _ _ _ _
    </div>
  </div>
  <div class="row mrgn-4 mrgn-top-20">
    <div class="fnt-18 pd-left-5">
      <div>1.आवेदक&nbsp;_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _</div>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;निवासी _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _</div>
        <div class="fRight">_ _ _ _ _ _ _ _ _ _ _ _ _ _ </div><br/>
        <div class="fRight">आवेदक</div>
        <div class="margn-top-20">
          <center><strong>बनाम</strong></center>
        </div>
        <div class="margn-top-20">2.अनावेदक _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _</div>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;निवासी&nbsp; _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _</div>
        <div class="fRight">_ _ _ _ _ _ _ _ _ _ _ _ _ _</div><br/>
        <div class="fRight">अनावेदक</div>
    </div>
    <div class="fnt-18 fnt-b fnt-u mrgn-top-20">
      आवेदक पत्र वास्ते अंतर्गत धारा 109 -110 म.प्र. भू-राजस्व संहिता 1959
    </div>
    <div class="paragraph">
      <div class="mrgn-top-5">
        महोदय<br/>
      </div>
      <div class="mb-8">
        <div class="txt-indent-3">
          निवेदन है की आवेदक के द्वारा मौजा _ _ _ _ _ _ _ _ _ _ _ _ पटवारी हल्का नंबर _ _ _ _ _ _ _ _ _ तहसील _ _ _ _ _ _ _ _ _ _ _ _ में भूमि खसरा नंबर _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ में से _ _ _ _ _ _ _ _ _ _ _ _ _ _ दिनांक _ _ _ _ _ _ _ _ _ _ _ अनावेदकों से क्रय किया है|
        </div>
        <div class="txt-indent-3">
          3. यह कि मेरे द्वारा उक्त भूमि का संपूर्ण प्रतिफल विक्रेता को देखकर भूमि  पर कब्ज़ा प्राप्त कर लिया गया है अन्य कोई भूमि की कीमत बकाया नहीं है भूमि कही रहन/बंधक आदि नहीं है भूमि पर कब्ज़ा का कोई विवाद नहीं है आवेदक को बैनामा अनुसार राजस्व अभिलेख में नाम दर्ज कराना हैा 
        </div>
        <div class="txt-indent-3">
          4. यह कि भूमि हमारे पंजीकृत बैनामा से खरीद की गई है भूमि पर रहन व्यय आदि नहीं है विक्रेता द्वारा भूमि स्वामी हक़ की भूमि विक्रय की गई है भूमि पट्टा आदि की नहीं है अनुसूचित जनजाति समुदाय की नहीं है जो बैनामा के अनुसार आवेदक को अभिलेख में नाम दर्ज कराना है |
        </div>
        <div class="txt-indent-3" >
          अतः श्रीमान से प्रार्थना है की बैनामा अनुसार आवेदक का नाम राजस्व अभिलेख में दर्ज किये जाने का आदेश प्रदान करें |
        </div>
        <br/><br/>
        <div class="">
          <div class="fLeft">
            <strong>स्थान :</strong> &nbsp;_ _ _ _ _ _ _ 
            <br/>
            <strong>दिनांक :</strong> _ _ _ _ _ _ _ 
          </div>
          <div class="fRight">
            <center>_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _</center>
            <center><strong>आवेदक</strong></center>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
