<!-- aavedak sapath patra -->
<div class="page-a4 only-print">
  <div class="col-md-12">
    <div class="row">
      <div class="fnt-24 fnt-b">
        <center>श्रीमान नोटरी अधिकारी महोदय _ _ _ _ _ _ _ _ _ _ _ मध्यप्रदेश </center>
      </div>
      <div class="fnt-20 fnt-b">
        <center>//शपथ पत्र//</center>
      </div>
    </div>
    <br/><br/>
    <div class="row mrgn-8">
      <div class="paragraph">
        <div class="txt-indent-4">
          मैं _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ उम्र _ _ _ _ वर्ष पिता/पति _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ निवासी _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ शपथपूर्वक कथन करता हूँ |<br/> 
        </div>
        <div class="padding-5">
          1.  यह कि मौजा _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ पटवारी हल्का नंबर _ _ _ _ _ तहसील _ _ _ _ _ _ _ _ _ _ _ _ _में स्थित खसरा नंबर_ _ _ _ _ _ _ _ _ _ _ _ _ में से _ _ _ _ _ _ _ _ _ _ _ _वर्ग फु/हे. भूमि को बेचवार _ _ _ _ _ _ _ _ _ _ _ _ _ से पंजीकृत बैनामा क्रमांक _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ दिनांक _ _ _ _ _ _ _ _ _ को खरीद किया है |<br/> 
          2. यह कि हमारी उक्त भूमि का संपूर्ण प्रतिफल विक्रेता को देकर उक्त भूमि पर कब्ज़ा प्राप्त कर लिया गया है उक्त भूमि पर किसी प्रकार का कोई विवाद नहीं है भूमि हमारे रजिस्टर्ड बैनामा से क्रय की गई है अतः बैनामा अनुसार नाम दर्ज कराना है |<br/>
          <div class="txt-indent-4">
            यह कि मैं वैनामा अनुसार आवेदक का नाम दर्ज होने हेतु सहमति में सपथ पत्र प्रस्तुत है |
          </div>
        </div>
        <br/>
        <div class="">
          <div class="fRight">
            <center>- - - - - - - - - - - -</center>
            <center><strong>हस्ताक्षर शपथकर्ता</strong></center>
          </div>
        </div>
        <br/><br/>
        <div class="txt-indent-4 mt-3">
          मैं _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ __ _ _ _ पिता _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ द्वारा प्रस्तुत शपथ पत्र विवरण सही है 
        </div>
        <br/>
        <div>
          <div class="fLeft">
            <strong>स्थान :</strong> &nbsp;_ _ _ _ _ _ _ 
            <br/>
            <strong>दिनांक :</strong> _ _ _ _ _ _ _ 
          </div>
          <div class="fRight">
            _ _ _ _ _ _ _ _ _ _ _ _<br/>
            <center><strong>हस्ताक्षर शपथकर्ता</strong></center>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
