
<div class="page-a4 only-print">
  <div class="row">
    <div class="fnt-18 fnt-b">
      <center>फार्म "अ"</center>
    </div>
    <div class="fnt-22 fnt-b txt-center">
      (परिपत्र दो-१ के कणिका 6  देखिये)<br />
      राजस्व आदेश -पत्र (रेव्हेन्यू ऑर्डर शीट )
    </div>
    <div class="mt-4 col-md-12 fnt-15">
      <div>
        तहसीलदार _ _ _ _ _ _ _ _ _ _ _ के न्यायालय में मामला क्रमांक_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _सन _ _ _ _ _ _ _ _ _ _ _
      </div>
      <div>
        विषय - नामांतरण बाबत_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ प्रकरण की श्रेणी _ _ _ _ _ _ _ _ _ _ _ _ अ/६ वर्ष _ _ _ _ _ _  _ _ _ _ _ _ _
      </div>

      <div>
        ग्राम- _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ बंदोबस्त क्रमांक _ _ _ _ _ _ _ _ _ _ पटवारी ह क्र  _ _ _ _ _ _ तहसील  _ _ _ _ _ _ _
      </div>

      <div>
        कलेक्टर का क्रमांक _ _ _ _ _ _ _ _ _ _ _ _ सन _ _ __ _ _ _ अनुविभागीय अधिकारी का क्रमांक _ _ _ _ _ _ _  _ _ सन_ _ _ _ _ _ _
      </div>

      <div>
        तहसीलदार का क्रमांक _ _ _ _ _ _ _ _ _ _ _ _ सन _ _ _ _ _ _ _ _ _नायब तहसीलदार का क्रमांक _ _ _ _ _ _ _सन _ _ _ _ _ _ _ _
      </div>
    </div>
  </div>
  <div class="mt-3">
    <div class="row first-row">
      <div class="w-15 table-left-column">
        आदेश अथवा कार्यवाही की तारीख और स्थान 
      </div>
      <div  class="w-65 table-center-column">
        पीठासीन अधिकारी के हस्ताक्षर सहित आवेदन पत्र अथवा कार्यवाही 
      </div>
      <div  class="w-20 table-right-column ps-0 pe-0">
        जहाँ आवश्यक हो, पर्ची व वकीलों के हस्ताक्षर आदेशों के पालन करवाकर लिपिक के संक्षित हस्ताक्षर  और प्रकरण की तारिख 
      </div>
    </div>
    <div class="row seccond-row">
      <div class="w-15 table-left-column">1</div>
      <div class="w-65 table-center-column">2</div> 
      <div class="w-20 table-right-column">3</div>
    </div>
    <div class="row pb-2">
      <div class="w-15 table-left-column"></div>
      <div class="w-65 table-center-column">
        <div class="m-sm-2 paragraph">
          <div class="txt-indent-2">
            आवेदक/आवेदिका &nbsp;_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ 
            पिता/पति_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
            निवासी _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
            द्वारा मौजा _ _ _ _ _ _ _ _ _ _ _ _ _ _ _पटवारी हल्का न _ _ _ _ _
            में स्थित भूमि खसरा नम्बर _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
            में से रकबा _ _ _ _ _ _ _ _ _ _ _ _ आवेदक द्वारा रजिस्टर्ड
            बैनामा क्रमांक _ _ _ _ _ _ _ _ _ _ _ _ दिनांक _ _ _ _ _ _ _ _ _ _ _ _
            के आधार पर नामांतरण कराये जाने बाबत आवेदन पेश किया है | 
          </div>
          <div class="row">
            <div>1 . प्रकरण दर्ज हो | </div>
            <div>2 . हल्का पटवारी से रिपोर्ट ली जाये | </div>
            <div>3 . इश्तहार  का प्रकाशन हो | </div>
            <div>4 . अनावेदक आहूत  हो | </div>
          </div>

          <br/>
          <div class=" mt-5">
            <p class="fLeft"><strong>पेशी</strong></p> 
            <p class="fRight"><strong>तहसीलदार/नायब तहसीलदार</strong></p>
          </div>
        </div>
      </div> 
      <div class="w-20 table-right-column"></div>
    </div>
  </div>
</div>