<!-- kathan patra -->

<div class="page-a4 only-print">
  <div class="col-md-12 kathan-affidavit-pdf">
    <br/>
    <div class="row">
      <div class="fnt-30 fnt-b">
        <center>कथन</center>
      </div>
    </div>
    <div class="row pdf-mrgn-8 mrgn-top-20">
      <div class="kathan-halka-detail"> 
        <table>
          <tr>
            <td>आवेदक का नाम : </td>
            <td>_ _ _ _ _ _ _ _ _ _ _ _ _ _ _</td>
          </tr>
          <tr>
            <td>पिता/पति का नाम : </td>
            <td>_ _ _ _ _ _ _ _ _ _ _ _ _ _ _</td>
          </tr>
          <tr>
            <td>उम्र व्यवसाय : </td>
            <td>_ _ _ _ _ _ _ _ _ _ _ _ _ _ _</td>
          </tr>
          <tr>
            <td>निवासी : </td>
            <td>_ _ _ _ _ _ _ _ _ _ _ _ _ _ _</td>
          </tr>
        </table>
      </div>
      <div class="paragraph mrgn-top-20">
        <div class="txt-indent-3">
          मैं ईमान से कहता /कहती हूँ मेरे द्वारा मौजा _ _ _ _ _ _ _ _ _ _ _ _ _ _ पटवारी हल्का नंबर _ _ _ _ _ _ _ _ _ _ _ _ _ _ में स्थित भूमि खसरा नंबर _ _ _ _ _ _ _ _ _ _ _ _ _ में से रकबा _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ वर्ग फु/हे. भूमि का रजिस्टर्ड बैनामा क्रमांक _ __ _ _ _ _ दिनांक _ _ _ _ __ _ _ को अनावेदक से क्रय कर भूमि  का नामांतरण  कराए जाने हेतु आवेदन पत्र पेश किया है |<br/>
        </div>
        <div class="txt-indent-4">
          अतः बैनामा अनुसार नामांतरण किया जाए यही मेरे कथन है |<br/>
        </div>
        <div class="txt-indent-4">पढ़कर सुनाया सही पाया | </div>
        <br/><br/><br/>
        <div class="sign-text">
          <div class="fRight">
            <center>
              _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
            <center>
            <center>
              <strong>आवेदक</strong>
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>