
<!-- anavedak sapath patra -->

<div class="page-a4 only-print">
  <div class="col-md-12">
    <div class="row">
      <div class="fnt-24 fnt-b">
        <center>श्रीमान नोटरी अधिकारी महोदय _ _ _ _ _ _ _ _ _ मध्यप्रदेश </center>
      </div>
      <div class="fnt-20 fnt-b">
        <center>//शपथ पत्र//</center>
      </div>
    </div>
    <div class="row pdf-mrgn-8 mrgn-top-20">
      <div class="paragraph mrgn-top-10">
        <div class="txt-indent-3">
          मैं _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ उम्र _ _ _ _ _ वर्ष पिता/पति _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ निवासी _ _ _ _ _ _ _ _ _ _ _ _  शपथपूर्वक कथन करता हूँ |<br/> 
        </div>
        <div class="padding-5">
          1.  यह कि मौजा _ _ _ _ _ _ _ _ _ _ _ _ पटवारी हल्का नंबर _ __ _ तहसील _ _ _ _ _ _ _ _ _ _ _ में स्थित खसरा नंबर  _ _ _ _ _ _ _ _ _ _ _  में से  _ _ _ _ _ _ _ _ _ _ _ वर्ग फु/हे. भूमि का हमारे द्वारा श्री/श्रीमती  _ _ _ _ _ _ _ _ _ _ _ पिता/पति  _ _ _ _ _ _ _ _ _ _ _  _ _ _ _ को पंजीकृत बैनामा क्रमांक  _ _ _ _ _ _ _ _ _ _ _  दिनांक  _ _ _ _ _ _ _ _ _ _ _  को विक्रय  किया गया है |<br/> 
          2. यह कि हमारी उक्त भूमि का संपूर्ण प्रतिफल प्राप्त कर भूमि का कब्ज़ा खरीदार को सौप दिया गया है भूमि पर कब्ज़ा तथा प्रतिफल संपत्ति कोई विवाद नहीं रहा भूमि, हमारी भूमि थी वह रहन व्यय नहीं थी हमारे द्वारा विक्रय की गई है |<br/>
          <div class="txt-indent-4">
            यह कि मैं वैनामा अनुसार आवेदक का नाम दर्ज होने हेतु सहमति में सपथ पत्र प्रस्तुत है 
          </div>
        </div>
        <br/>
        <div class="">
          <div class="fRight">
            <center>_ _ _ _ _ _ _ _ _ _ _ _</center>
            <center><strong>हस्ताक्षर शपथकर्ता</strong></center>
          </div>
        </div>
        <br/><br/>
        <div class="txt-indent-4 mt-3">
          मैं _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ पिता _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _द्वारा प्रस्तुत शपथ पत्र विवरण सही है 
        </div>
        <br/>
        <div>
          <div class="fLeft">
            <strong>स्थान :</strong> &nbsp;_ _ _ _ _ _ _ 
            <br/>
            <strong>दिनांक :</strong> _ _ _ _ _ _ _ 
          </div>
          <div class="fRight">
            - - - - - - - - - - - -<br/>
            <center><strong>हस्ताक्षर शपथकर्ता</strong></center>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
