<!-- order sheet started -->
<div class="page-a4 only-print">
  <div class="row">
    <div class="fnt-22 fnt-b txt-center">
      राजस्व आदेश अनुवृत्ति पत्र<br/>
      मामला क्रमांक_ _ _ _ _ _ _ अ/6 20_ _ _ _ _ _
    </div>
  </div>
  <div class="row">
    <div class="row mt-2 first-row">
      <div class="w-15 table-left-column">1</div>
      <div class="w-70 table-center-column">2</div> 
      <div class="w-15 table-right-column">3</div>
    </div>
    <div class="row pb-2">
      <div class="w-15 table-left-column"></div>
      <div class="w-70 table-center-column">
        <div class="pd-4 paragraph">
          <div class="mrgn-top-10">
            <div class="fLeft">
              प्रकरण पेश | 
            </div>
          </div>
          <br/>
          <div class="mb-8 txt-indent-2">
            प्रकरण का अवलोकन किया गया | प्रकरण में प्रस्तुत आवेदक के आवेदन पत्र हल्का पटवारी प्रतिवेदन अनावेदक _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _निवासी _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ के जबाब व प्रकाशन में आये अन्य दस्तावेजों के आधार पर मध्यप्रदेश भू -राजस्व संहिता १९५९ की धारा 109 -110 के तहत मौजा _ _ _ _ _ _ _ _ _ _ _ पटवारी हल्का नंबर _ _ _ _ _ _ _ _ में स्थित भूमि खसरा नंबर _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ रकबा  _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ वर्ग फु/हे. भूमि पर पंजीकृत बैनामा क्रमांक MP337120_ _ _ _ _ _ _ _ _ _ _ _ _ दिनांक _ _ _ _ _ _ _ _ के अनुसार आवेदक_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ पिता/पति _ _ _ _ _ _ __ _ _ _ _ _ _ _ _ _ _ _ _ निवासी _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _का नाम शामिल शरीक 
            दर्ज किये का आदेश पारित किया जाता है |  हल्का पटवारी एवं कंप्यूटर ऑपरेटर आदेशानुसार अभिलेख दुरुस्त करे बाद कार्यवाही नस्ती दाखिल दर्ज हो |<br/><br/><br/><br/><br/>
          </div>
          
          <div class="mb-2 pdf-bottom">
            <p class="fRight"><strong>तहसीलदार/नायब तहसीलदार</strong></p>
          </div>
        </div>
      </div> 
      <div class="w-15 table-right-column"></div>
    </div>
  </div>
</div>
