<!-- halka patwari prativedan -->

    <div class="page-a4 only-print">
      <div class="col-md-12 halka-patwari-prativedan-pdf">
        <div class="row">
          <div class="fnt-24 fnt-b">
            <center>
              कार्यालय पटवारी हल्का नंबर _ _ _ _, _ _ _ _ _ _ _ _ _ _ _ _
            </center>
          </div>
        </div>
        <div class="row mrgn-top-30 mrgn-8">
          <div class="paragraph">
            <div class="">प्रति,<br/></div>
            <div class="txt-indent-2">
              श्रीमान तहसीलदार/नायब तहसीलदार महोदय _ _ _ _ _ _ _ _ _ _ _
            </div><br/>
            <div class="">
              <strong>विषय &nbsp;:- </strong> नामांतरण के सम्बन्ध में प्रतिवेदन |<br/>
              <strong>सन्दर्भ :-</strong> श्रीमान जी के आदेश दिनांक _ _ _ _ _ _ _ _ _ के परिपालन के सम्बन्ध में |<br/><br/>
            </div>
            <div class="">
              महोदय  जी,<br/>
            </div>
            <div class="paragraph">
              <div class="txt-indent-4">
                उपरोक्त विषयान्तर्गत संदर्भित आदेश के परिपालन में लेख है कि आवेदक _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ पिता _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ जाति _ _ _ _ _ _ _ _ _ _ _ _ _ _ निवासी _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _  के द्वारा मौजा _ _ _ _ _ _ _ _ _ _ _ _ पटवारी हल्का नंबर _ _ _ _ _ _ में स्थित खसरा नंबर _ _ _ _ _ _ _ _ _ _ _ _ रकबा _ _ _ _ _ _ _ _ _ _ _ _ में से _ _ _ _ _ _ _ _ _ _ _ _ भूमि का विक्रेता _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ निवासी _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ से बैनामा क्रमांक _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _दिनांक _ _ _ _ _ _ _ के द्वारा क्रय करने से नामांतरण हेतु आवेदन पेश किया है <br/> 
              </div>
              <div class="txt-indent-4">
                वर्तमान अभिलेख मौजा _ _ _ _ _ _ _ _ _ _ _ के खसरा नंबर _ _ _ _ _ _ _ _ _ _ _ _ रकबा _ _ _ _ _ _ _ _ _ _ _ _ _ _ में से _ _ _ _ _ _ _ _ _ _ _ _ _ _ वर्ग फु/हे. आवेदित भूमि, भूमिस्वामी भूमि है जिसका डायवर्सन हो चुका/नहीं हुआ है | 
                <br/>
              </div>
              <div class="txt-indent-4">
                अतः प्रतिवेदन सादर सम्प्रेषित है |
              </div>
            </div>
            <br/><br/>
            <div>
              <div class="fRight">
                <center>- - - - - - - - - - - - - - - - -</center>
                <center><strong>हस्ताक्षर</strong></center>
                <center><strong>पटवारी हल्का</strong> _ _ _ _ _ _ _ _ _ _ _ _</center>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
