<!-- talwana patra -->
<div class="row pdf alwaysbreak">
  <div class="col-md-12">
    <div class="row">
      <div class="fnt-24 fnt-b">
        <center>तलवाना</center>
      </div>
    </div>
    <br/>
    <div class="row pdf-mrgn-8 fnt-20">
      <div>न्यायालय श्रीमान _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _</div>
      <div class="mb-2 mt-3"><center><strong>विरुद्ध</strong></center></div>
      <div class="d-table fnt-20">
        <div class="d-row">
          <div class="d-cell w-px-50">वादी : </div><div><%=raw applicant_name(request) %></div>
        </div>
        <div class="d-row">
          <div class="d-cell w-px-50">प्रतिवादी : </div><div ><%= raw participant_names(request, "seller", false, true)%></div>
        </div>
      </div>
    </div>
    <br/><br/>
    <div class="row">
      <div class="fnt-20">
        <div class="fLeft">
          तलवाना कोर्ट फीस जारी होने के मुव. 
        </div>
        <div class="fRight">
          रु. का चस्पा है 
        </div>
      </div>
      <br/><br/>
      <div class="pdf-paragraph-40">
        <table class="talwana-table">
          <tbody>
            <tr>
              <td class="column12">क्रमांक</td>
              <td class="column25">नाम उस शख्स का जिस पर समन्स वगैरह तामीली होना है</td>
              <td class="column15">सकूनत जहाँ पर कागजात तामीली को भेजा जाता है</td>
              <td class="column12">तहसील</td>
              <td class="column12">क़िस्त तलवाना</td>
              <td class="column12">तादाद कोर्ट फीस</td>
              <td class="column12">कैफियत</td>
            <tr>
            <tr>
              <td class="column12">(1)</td>
              <td class="column25">(2)</td>
              <td class="column15">(3)</td>
              <td class="column12">(4)</td>
              <td class="column12">(5)</td>
              <td class="column12">(6)</td>
              <td class="column12">(7)</td>
            <tr>
            <tr>
              <td class="column12" style="height: 650px;"></td>
              <td class="column25"></td>
              <td class="column15"></td>
              <td class="column12"></td>
              <td class="column12"></td>
              <td class="column12"></td>
              <td class="column12"></td>
            <tr>
          </tbody>
        </table>
        <br/><br/><br/>
        <div class="row block">
          <div class="fLeft width25">तारीख</div>
          <div class="fLeft width25">माह</div>
          <div class="fLeft width25">सन</div>
          <div class="fLeft width25">दस्तखत</div>
        </div>
      </div>
    </div>
  </div>
</div>
