<!-- fouti application form -->

<div class="page-a4 only-print">
  <div class="col-md-12 halka-patwari-prativedan-pdf">
    <div class="row mrgn-top-20 mrgn-4">
      <div class="paragraph">
        <div class="">प्रति,<br/></div>
        <div class="txt-indent-2">
          श्रीमान तहसीलदार/नायब तहसीलदार महोदय _ _ _ _ _ _ _ _ _ _ _
        </div>
        <div class="txt-indent-2">
          वृत्त:- _ _ _ _ _ _ _ _ _ _ _ _ _ _तहसील_ _ _ _ _ _ _ _ _ _ _ _ _
        </div><br/>
        <div class="">
          <strong>विषय &nbsp;:- </strong> फौती / नामांतरण वाबत |<br/>
        </div>
        <div class="">
          महोदय  जी,<br/>
        </div>
        <div class="paragraph-30">
          <div class="txt-indent-2">
            विनम्र निवेदन है कि  मैं  _ _ _ _ _ _ _ _  पिता/पति  _ _ _ _ _ _ _ _  निवासी ग्राम  _ _ _ _ _ _ _ _   पटवारी हल्का न  _ _ _ _ _ _ _ _   का निवासी हूँ और मौजा  _ _ _ _ _ _ _ _   पटवारी हल्का न  _ _ _ _ _ _ _ _   रा नि म  _ _ _ _ _ _ _ _   तहसील  _ _ _ _ _ _ _ _   में मेरे पिता/माता/भाई  _ _ _ _ _ _ _ _   के नाम पर भूमि खसरा नंबर  _ _ _ _ _ _ _ _   _ _ _ _ _ _ _ _  रकबा  _ _ _ _ _ _ _ _   _ _ _ _ _ _ _ _   कुल रकबा  _ _ _ _ _ _ _ _   है, जो कि दिनांक को फौत हो चुके है जिनके वैध वारसान निम्न संजारा अनुसार है :-
            <br/><br/>
            <table class="table fnt-18">
              <thead>
                <tr>
                  <td colspan="3" class="fnt-20">
                    <center><span class="fnt-b">संजरा</span> ( _ _ _ _ _ _ _ _ _ _ _ _)</center>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr scope="row">
                  <th style="width:33%;text-align: left;">पुत्र</th>
                  <th style="width:33%;text-align: center;">पुत्री</th>
                  <th style="width:33%;text-align: right;">पत्नी/बेवा</th>
                </tr>
                <tr scope="row" style="height: 250px;">
                  <td colspan="3"style="border-bottom: 0px;">
                    &nbsp;
                  </td>
                </tr>
              </tbody>
            </table>
            <br/>
            उपरोक्त संजरा में उल्लिखित वारिसों के अलावा कोई अन्य वारसान नहीं है यदि भविष्य में कोई दावा करता है और ऐसी पुष्टि होती है तो मैं स्वयं व्यक्तिगत रूप से जिम्मेदार माना जाउगा अन्य कोई नहीं |  <br/> 
          </div>
        </div>
        <br/><br/>
        <div class="paragraph-30">
          <div class="fLeft">
            <center>&nbsp;</center>
            <center>दिनांक :- _ _ _ _ _ _ _ _</center>
          </div>
          <div class="fRight">
            <center>आवेदक</center>
            <center>नाम _ _ _ _ _ _ _ _ _ _ _ _पिता/पति_ _ _ _ _ _ _ _ _ _ _ _</center>
            <center>निवासी :-_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ </center>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>