<!-- aavedak sapath patra -->
<div class="page-a4 only-print">
  <div class="col-md-12">
    <div class="row">
      <div class="fnt-24 fnt-b">
        <center>श्रीमान नोटरी अधिकारी महोदय _ _ _ _ _ _ _ _ _ _ _ मध्यप्रदेश </center>
      </div>
      <div class="fnt-20 fnt-b">
        <center>//शपथ पत्र//</center>
      </div>
    </div>
    <br/><br/>
    <div class="row mrgn-4">
      <div class="paragraph-30">
        <div class="txt-indent-2">
          मैं _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ उम्र _ _ _ _ वर्ष पिता/पति श्री_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ जाति _ _ _ _ _ _ _ _ _ _ _ ग्राम _ _ _ _ _ _ _ _ _ _ _ तहसील _ _ _ _ _ _ _ _ _ _ _ _ _ _ जिला _ _ _ _ _ _ _ _ _ _ _ शपथपूर्वक कथन करता हूँ |<br/> 
        </div>
        <div class="padding-3">
          1.  यह कि मेरे माता/पिता/अन्य के नाम _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ भूमि मौजा _ _ _ _ _ _ _ _ _ _ _ _ प.ह.नं. _ _ _ _ _ तहसील _ _ _ _ _ _ _ _ _ _ में स्थित खसरा नंबर_ _ _ _ _ _ _ _ _ _ _ _ _ रकबा _ _ _ _ _ _ _ _ _ _ _ _ कुल रकबा _ _ _ _ _ _हे. भूमि राजस्व रिकॉर्ड में दर्ज है|<br/> 
          2. यह कि मेरे पिता/माता/अन्य _ _ _ _ _ _ _ _ _ _ _ की मृत्यु दिनांक  _ _ _ _ _ _ को हो चुकी है जिनके वैध वारसान संजरा निम्न अनुसार है |
          <br/>
          <table class="table fnt-18">
            <thead>
              <tr>
                <td colspan="3" class="fnt-20">
                  <center><span class="fnt-b">संजरा</span> ( _ _ _ _ _ _ _ _ _ _ _ _)</center>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr scope="row">
                <th style="width:33%;text-align: left;">पुत्र</th>
                <th style="width:33%;text-align: center;">पुत्री</th>
                <th style="width:33%;text-align: right;">पत्नी/बेवा</th>
              </tr>
              <tr scope="row" style="height: 150px;">
                <td colspan="3"style="border-bottom: 0px;">
                  &nbsp;
                </td>
              </tr>
            </tbody>
          </table>
          <div class="">
            3.यह की उक्त भूमि पर ऊपर दर्शित संजरा अनुसार वारसान राजस्व रिकॉर्ड में दर्ज किये जायें  एवं उल्लेखित वारसान के अलावा कोई अन्य वारसान नहीं है |
          </div>
        </div>
        <br/>
        <div class="">
          <div class="fLeft">
            <strong>स्थान :</strong> _ _ _ _ _ _ _ _<br/>
            <strong>दिनांक :</strong> _ _ _ _ _  _ _ _ 
          </div>
          <div class="fRight">
            <center>- - - - - - - - - - - -</center>
            <center><strong>हस्ताक्षर शपथकर्ता</strong></center>
          </div>
        </div>
        <br/><br/>
        <div class="mt-3 fnt-b">
          <center>//सत्यापन//</center>
        </div>
        <div class="txt-indent-2 mt-3">
          मैं उपरोक्त शपथकर्ता सत्यापित करता/करती हूँ की शपथपत्र की कंडिका 01 से 03 में अंकित कथन मेरे स्वतः के ज्ञान व अनुभव के अनुसार सही व सत्य है |
        </div>
        <br/>
        <div>
          <div class="fLeft">
            <strong>स्थान :</strong> &nbsp;_ _ _ _ _ _ _ 
            <br/>
            <strong>दिनांक :</strong> _ _ _ _ _ _ _ 
          </div>
          <div class="fRight">
            _ _ _ _ _ _ _ _ _ _ _ _<br/>
            <center><strong>हस्ताक्षर शपथकर्ता</strong></center>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
