<!-- halka patwari prativedan -->

    <div class="page-a4 only-print">
      <div class="col-md-12 halka-patwari-prativedan-pdf">
        <div class="row">
          <div class="fnt-24 fnt-b">
            <center>
              कार्यालय पटवारी हल्का नंबर _ _ _ _, _ _ _ _ _ _ _ _ _ _ _ _
            </center>
          </div>
        </div>
        <div class="row mrgn-top-30 mrgn-4">
          <div class="paragraph">
            <div class="">प्रति,<br/></div>
            <div class="pd-left-8">
              श्रीमान तहसीलदार/नायब तहसीलदार महोदय <br/>
              वृत्त _ _ _ _ _ _ _ _ _ तहसील _ _ _ _ _ _ _ _ _ _
            </div><br/>
            <div class="">
              <strong>विषय &nbsp;:- </strong> फौती नामांतरण के सम्बन्ध में |<br/>
              <!-- <strong>सन्दर्भ :-</strong> श्रीमान जी के आदेश दिनांक _ _ _ _ _ _ _ _ _ के परिपालन के सम्बन्ध में |<br/><br/> -->
            </div>
            <div class="">
              महोदय  जी,<br/>
            </div>
            <div class="paragraph-30">
              <div class="txt-indent-2">
                उपरोक्त विषयान्तर्गत लेख है कि आवेदक _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ पिता _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ जाति _ _ _ _ _ _ _ _ _ _ _ _ _ _ निवासी _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _  के द्वारा अपने माता/पिता की मृत्यु दिनांक _ _ _ _ _ _ _ को हो जाने से नामांतरण/फौती हेतु आवेदन पत्र श्रीमान जी के समक्ष प्रस्तुत  किया है  <br/> 
              </div>
              <div class="txt-indent-2">
                यह है कि, मौजा _ _ _ _ _ _ _ _ _ _ प. ह. न. _ _ _ _ _ तहसील _ _ _ _ _ _ _ _ _ _ जिला _ _ _ _ _ _ _ _ _ _ के भूमि खसरा नंबर _ _ _ _ _ _ _ _ _ _ रकबा _ _ _ _ _ _ _ _ _ _ कुल रकबा _ _ _ _ _ हे वर्तमान अभिलेख में _ _ _ _ _ _ _ _ _ _ _ पिता _ _ _ _ _ _ _ _ _ _ _ _ _ निवासी _ _ _ _ _ _ _ _ _ _ _ _ _ _ _  के नाम दर्ज है |
              </div>
              <div class="txt-indent-2">
                यह कि, पंचनामा मुताबिक  मृतक _ _ _ _ _ _ _ _  _ _ _ _ _ पिता _ _ _ _ _ _ _ _ _ _ _ _ के वारिसों के नाम निम्न संजरा अनुसार है :- 
                <br/>
              </div>
              <table class="table fnt-18">
                <thead>
                  <tr>
                    <td colspan="3" class="fnt-20">
                      <center><span class="fnt-b">संजरा</span> ( _ _ _ _ _ _ _ _ _ _ _ _)</center>
                    </td>
                  </tr>
                </thead>
                <tbody>
                  <tr scope="row">
                    <th style="width:33%;text-align: left;">पुत्र</th>
                    <th style="width:33%;text-align: center;">पुत्री</th>
                    <th style="width:33%;text-align: right;">पत्नी/बेवा</th>
                  </tr>
                  <tr scope="row" style="height: 150px;">
                    <td colspan="3"style="border-bottom: 0px;">
                      &nbsp;
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="txt-indent-4">
                अतः श्रीमान जी के समक्ष प्रतिवेदन सादर सम्प्रेषित है |
              </div>
            </div>
            <br/><br/>
            <div>
              <div class="fRight">
                <center>- - - - - - - - - - - - - - - - -</center>
                <center><strong>हस्ताक्षर</strong></center>
                <center><strong>पटवारी हल्का</strong> _ _ _ _ _ _ _ _ _ _ _ _</center>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
