<!-- income certificate -->
<!-- <div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6"> -->
    <div class="page-a4 only-print">
      <div class="col-md-12 ln-hgt-30">
        <div class="row">
          <div class="fnt-24 fnt-b">
            <center>
              स्थानीय निवासी हेतु<br/>स्व प्रमाणित घोषणा-पत्र 
            </center>
          </div>
          <div class="fnt-20 fnt-b">
            <center>
              (अस्टाम्पित कागज पर) 
            </center>
          </div>
        </div>
        <div class="row mrgn-top-10">
          <div class="paragraph-22">
            मैं _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _आत्मज श्री _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ आयु लगभग _ _ _ _ _ _ _ वर्ष  शपथ पूर्वक कथन करता हूँ /करती हूँ  कि :
            <div class="pd-left-3">
              1. मैं वर्तमान में  _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ में निवासरत हूँ | <br/>
              2. मेरी पत्नी का नाम श्रीमती  _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ एवं उम्र (लगभग) _ _ _ _ _ _ वर्ष है | <br/>
              3. मेरे अवयस्क पुत्र/पुत्री :<br/>
              <div class="pd-left-3">
                1. श्री/कु. _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _आयु (लगभग) _ _ _ _ _ _ _ _ _ _वर्ष <br/>
                2. श्री/कु. _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _आयु (लगभग)_ _ _ _ _ _ _ _ _ वर्ष <br/>
              </div>
               
              4. (यहाँ म.प्र. शासन के ज्ञापन क्र. सी-3 -7 -2013-3-एक दिनांक 25 सितम्बर 2014 , में वर्णित निर्देश के अंतर्गत आवेदक पात्रता की निम्न &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;में से जिन-जिन श्रेणियाँ में आता है उनका विवरण अंकित करें | )<br/>
              5. मेरे परिवार में निम्नानुसार सदस्य है | <br/>
              <div class="pd-left-3" style="display: block;">
                
                <div class="fLeft">1.</div>
                <div class="pd-left-3">
                  मैं, म.प्र. के मकान नंबर _ _ _ _ _ _ _मोहल्ला _ _ _ _ _ _ _ _ _ _ _ _ _ग्राम _ _ _ _ _ _ _ _ _ _ _ _ तहसील _ _ _ _ _ _ _  जिला _ _ _ _ _ _ _ _ _ _ में वर्ष _ _ _ _ _ में पैदा हुआ/हुई हूँ |
                </div>
              
                <div class="fLeft">2.</div>
                <div class="pd-left-3">
                  मैं, म.प्र. के मकान नंबर _ _ _ _ _ _ _मोहल्ला _ _ _ _ _ _ _ _ _ _ _ _ _ग्राम _ _ _ _ _ _ _ _ _ _ _ _तहसील _ _ _ _ _ _ _ _ _ _ _ _ जिला _ _ _ _ _ _ _ _ _ _ _  में विगत 10 वर्ष से निरंतर निवासरत हूँ <span style="font-size: 12px;">(आवेदक म.प्र. में काम से काम १० वर्ष से निरंतर निवासरत  हो |  यदि १० वर्ष की अवधि में 1 से अधिक स्थानों पर निवासरत रहे तो कब से कब तक कहाँ कहाँ निवासरत रहे इसका पूर्ण विवरण अंकित किया जाये | )</span>
                </div>

                <div class="fLeft">3.</div>
                <div class="pd-left-3">
                  मैं राज्य शासन की सेवा में वर्तमान में पद का नाम _ _ _ _ _ _ _ _ _ _ _ _कार्यालय का नाम _ _ _ _ _ _ _ _ _ _ _ विभाग का नाम _ _ _ _ _ _ _ _ _ _ _ _ _के पद पर पदस्थ हूँ /से सेवानिवृत्त हुआ हूँ | 
                </div>

                <div class="fLeft">4.</div>
                <div class="pd-left-3">
                  मैं म.प्र. शासन के अंतर्गत स्थापित _ _ _  _ _ _ _ _ _ _ _ _ _ _नामक संस्था/निगम/मंडल/आयोग में _ _ _ _ _ _ _ _ _ _ _ _ _ _ पद पर _ _ _ _ _ _ _ _ _ _ _ _ _ कार्यालय में सेवारत/सेवानिवृत्त कर्मचारी हूँ |  <br/>
                  <span style="font-size: 12px;">(कार्यरत/सेवानिवृत्ति पद के नाम के साथ कार्यरत कार्यालय/जिस कार्यालय से सेवानिवृत्त हुए उसका पूर्ण विवरण दें | )</span>
                </div>

                <div class="fLeft">5.</div>
                <div class="pd-left-3">
                  मैं केंद्र शासन के _ _ _ _ _ _ _ _ _ _ _ _ _ विभाग में  _ _ _ _ _ _ _ _ _ _ _ _ _ के पद पर कार्यालय _ _ _ _ _ _ _ तहसील _ _ _ _ _ _ _ _ _ जिला _ _ _ _ _ _ _ के पद पर 10 वर्ष से पदस्थ होकर कार्यरत हूँ | <br/>
                  <span style="font-size: 12px;">( कार्यरत पद का नाम एवं कार्यालय का विवरण तथा पता )</span>
                </div>

                <div class="fLeft">6.</div>
                <div class="pd-left-3">
                  मैं अखिल  भारतीय सेवाओं के म.प्र. राज्य को आवंटित (आवंटन वर्ष _ _ _ _ _ _ बैच ) अधिकारी हूँ |  _ _ _ __ _ _ _ _ _ _ _ _ पद पर _ _ _ _ _ _ _ _ _ _ _ _ _ _ कार्यालय/मंत्रालय _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ में पदस्थ हूँ/से सेवानिवृत्त हुआ हूँ | 
                </div>

                <div class="fLeft">7.</div>
                <div class="pd-left-3">
                  मैं म.प्र. में संवैधानिक/विधिक  _ _ _ _ _ _ _ _ _ _ _  _ _ पद पर महामहिम राष्ट्रपति/राज्यपाल द्वारा नियुक्त हूँ | <br/><span style="font-size: 12px;">(पद, कार्यालय का पूर्ण विवरण दिया जाये | )</span>
                </div>
                
                <div class="fLeft">8.</div>
                <div class="pd-left-3">
                  मैं भूतपूर्व सैनिक हूँ तथा मैंने म.प्र. में 5 वर्षो तक (अवधि _ _ _ __ _ _ _ _ __ _ _ ) निवास किया है/ अथवा मेरे परिजन म.प्र. में पहले से ही निवासरत है |<span style="font-size: 12px;">(इसकी पुष्टि हेतु सैनिक कल्याण संचनालय का प्रमाण पत्र संलग्न करे | )</span>
                </div>
              </div>
            </div>
            <div class="mt-2 mb-2 fnt-16 fnt-b">
              <div class="fRight">
                हस्ताक्षर
              </div>
            </div>
            <br/>
            <div class="fnt-18 fnt-b fnt-u mb-1">
              <center>सत्यापन</center>
            </div>
            <div class="paragraph-22">
               मैं _ _ _ _ _ _ _ _  _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ आत्मज/पति श्री _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ आयु _ _ _ _ _ _ _ _ वर्ष, निवासी _ _ _ _ _ _ _ _  _ _ _ _ _ _ _ _  _ _ _ _ _ _ _ _  _ _ _ _ _ _ _ _ सत्यपान करता /करती हूँ कि घोषणा पत्र  की कंडिका 1 से 8 तक में उल्लेखित जानकारी मेरे  निजी ज्ञान एवं विश्वास के आधार पर सत्य है | इसमें न कोई सारवान तथ्य छुपाया गया है और न  ही असत्य तथ्य अंकित किया गया है | मुझे यह ज्ञान है कि मेरे द्वारा असत्य या भ्रामक जानकारी देने पर मेरे विरुद्ध आपराधिक/दंडात्मक कार्यवाही की जा सकेगी | साथ ही मुझे प्राप्त समस्त लाभ भी वापिस ले लिए जायेगे | <br/>
              सत्यापन आज दिनांक _ _ _ _ _ _ _ _ वर्ष _ _ _ _ _ _ _ _ को स्थान _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ में किया गया |<br/> 
            </div>
            <br/>
            <div class="mt-2 mb-2 fnt-18 fnt-b">
              <div class="fRight">
                हस्ताक्षर
              </div>
            </div>
            <br/>
            (जो लागू हो केवल उसी का उल्लेख घोषणा-पत्र में किया जावे | )           
          </div>
        </div>
      </div>
    </div>
<!--   </div>
  <div class="col-md-3"></div>
</div> -->