<!-- seemankan praroop 1 -->

<div class="page-a4 only-print">
  <div class="col-md-12 ln-hgt-30">
    <div class="row">
      <div class="fnt-15 fnt-b">
        <center>
          प्रारूप-एक 
        </center>
        <center>
          (नियम  3 देखिये )
        </center>
      </div>
      <div class="fnt-15 fnt-b">
        <center>
          सीमांकन तथा सीमा चिन्हो को संनिर्मित करने के लिए आवेदन 
        </center>
      </div>
    </div>
    <div class="row mrgn-top-15 mrgn-6">
      <div class="paragraph-28">
        <div class="">प्रति,<br/></div>
        <div class="padding-8">
          श्रीमान तहसीलदार/अपर तहसीलदार/नायब तहसीलदार<br/>
          तहसील _ _ _ _ _ _ _ _ _ _ _<br/>
          जिला _ _ _ _ _ _ _ _ _ _ _म.प्र.
        </div>
        <div class="paragraph-28 mt-2">
          <div class="txt-indent-2">
            मैं /हम एतद द्वारा, नीचे दिए गए  विवरणों के अनुसार भूमि का सीमांकन तथा सीमा चिन्हो को संनिर्मित करने के लिए अनुरोध करता हूँ/करते है
             <br/> 
          </div>
          <div class="seemankan-tbl pt-2">
            <div class="mt-1">1. आवेदक का विवरण </div>
            <table class="mb-3">
              <thead>
                <tr>
                  <th style="width:8%;">स क्रमांक</th>
                  <th style="width:17%;">नाम तथा पता</th>
                  <th style="width:17%;">पिता/पति /संरक्षक का नाम</th>
                  <th style="width:12%;">मोबाईल नंबर</th>
                  <th style="width:17%;">अनुसूचित जाति/अनुसूचित जनजाति/अन्य</th>
                  <th style="width:17%;">आधार नंबर/वैकल्पिक पहचान</th>
                  <th style="width:12%;">अभ्युक्ति </th>
                <tr>
                <tr>
                  <th>(1)</th>
                  <th>(2)</th>
                  <th>(3)</th>
                  <th>(4)</th>
                  <th>(5)</th>
                  <th>(6)</th>
                  <th>(7)</th>
                <tr>
              </thead>
              <tbody>
                <tr>
                  <td>1.</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>2.</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>3.</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>4.</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <div class="mb-1">2.सीमांकित की जाने वाली भूमि का विवरण</div>
            ग्राम /नगरीय क्षेत्र  _ _ _ _ _ _ _ _ _ पटवारी हल्का /सेक्टर नंबर  _ _ _ _ _ _ _ _ _ _ _ राजस्व निरीक्षक वृत्त _ _ _ _ _ _ _ तहसील _ _ _ _ _ _ _  जिला _ _ _ _ _ _ _ _
            <table class="seemankan-tbl mt-3">
              <thead>
                <tr>
                  <th style="width:9%;">स क्रमांक</th>
                  <th style="width:18%;">सर्वेक्षण संख्यांक/ब्लॉक संख्यांक/भू-खंड संख्यांक</th>
                  <th style="width:18%;">क्षेत्रफल(हे/वर्गमी)</th>
                  <th style="width:35%;">धारक का नाम</th>
                  <th style="width:20%;">लगे हुए सर्वेक्षण संख्यांक/ब्लॉक संख्यांक/भू-खंड संख्यांक का विवरण</th>
                <tr>
                <tr>
                  <th>(1)</th>
                  <th>(2)</th>
                  <th>(3)</th>
                  <th>(4)</th>
                  <th>(5)</th>
                <tr>
              </thead>
              <tbody>
                <tr>
                  <td>1.</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>2.</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>3.</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>4.</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-a4 only-print">
  <div class="row mrgn-top-20 mrgn-6">
    <div class="paragraph-28 mt-2">
      <div class="seemankan-tbl">
        <div class="mt-2">3.लगी हुई भूमि के धारक का विवरण </div>
        <table class="mb-3">
          <thead>
            <tr>
              <th style="width:8%;">स क्रमांक</th>
              <th style="width:15%;">सर्वेक्षण संख्यांक/ब्लॉक संख्यांक/भू-खंड संख्यांक</th>
              <th style="width:21%;">धारक का नाम</th>
              <th style="width:20%;">पिता/पति /संरक्षक का नाम</th>
              <th style="width:18%;">पूर्ण पता</th>
              <th style="width:18%;">मोबाईल /फ़ोन नंबर</th>
            <tr>
            <tr>
              <th>(1)</th>
              <th>(2)</th>
              <th>(3)</th>
              <th>(4)</th>
              <th>(5)</th>
              <th>(6)</th>
            <tr>
          </thead>
          <tbody>
            <tr>
              <td>1.</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>2.</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>3.</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>4.</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <div class="mb-3">4.भुगतान की गई फीस का ब्यौरा</div>
        <table class="">
          <thead>
            <tr>
              <th style="width:16%;">स क्रमांक</th>
              <th style="width:42%;">सर्वेक्षण संख्यांक/ब्लॉक संख्यांक/भू-खंड संख्यांक</th>
              <th style="width:42%;">धारक का नाम</th>
            <tr>
            <tr>
              <th>(1)</th>
              <th>(2)</th>
              <th>(3)</th>
            <tr>
          </thead>
          <tbody>
            <tr>
              <td>1.</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>2.</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>3.</td>
              <td></td>
              <td></td>
            </tr>
             <tr>
              <td>4.</td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <br/>
        <div class="fnt-16 fnt-b">
          <center>घोषणा</center>
        </div>
        <div class="">
          में/हम _ _ _ _ _ _ _ _ _ _ _ _ _ _ पिता/पति _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ पता _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _  मोबाइल नंबर _ _ _ _ _ _ _ _ _ _ _ एतद्द्वारा घोषणा करता हूँ /करती हूँ /करते है कि  मेरे/हमारे द्वारा दी गई जानकारी मेरे ज्ञान और विश्वास से सत्य एवं सही है तथा मेरे/हमारे द्वारा कोई भी बात गलत नहीं की गई है।  में/हम यह भी समझते है कि मेरे/हमारे द्वारा प्रस्तुत की गई जानकारी असत्य होने की दशा में मेरे/हमारे विरुद्ध विधिक करवाई की जा सकेगी।
        </div>
        <br/><br/>
        <div class="">
          <div class="fLeft">
            तारीख _ _ _ _ _ _ _ _<br/>
            स्थान  _ _ _ _ _ _ _ _ 
          </div>
          <div class="fRight">
            हस्ताक्षर <br/>
            नाम _ _ _ _ _ _ _ _ _ _ _ _<br/>
            आवेदक
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
