<!-- halka patwari prativedan -->
<div class="page-a4 only-print">
  <div class="row mrgn-top-20 mrgn-6">
    <div class="paragraph-28">
      <div class="mt-2">
        <div class="fnt-15 fnt-b">
          <center>
            प्रारूप-तीन 
          </center>
          <center>
            (नियम  5 देखिये )
          </center>
        </div>
        <div class="fnt-b">
          <center>
            सीमांकन दल की रिपोर्ट
          </center>
        </div>
        <div class="fnt-b">
          <div class="fRight">
            राजस्व प्रकरण क्रमांक _ _ _ _ _ _ _ _ _ _ _
          </div>
        </div>
        <br/>
        न्यायलय उपखण्ड अधिकारी, उपखण्ड _ _ _ _ _ _ _ _तहसील _ _ _ _ _ _ _ _ जिला _ _ _ _ _ _ _ _मध्यप्रदेश <br/>
      </div>
      <div class="paragraph-28 mt-2">
        <div class="txt-indent-2">
          तारीख _ _ _ _ _ _ _ _ _ _ सीमांकन रिपोर्ट 
        </div>
        <div class="txt-indent-2">
          आपके आदेश दिनांक _ _ _ _ _ _ _ _  के अनुपालन में भूमिस्वामी _ _ _ _ _ _ _ _ _ _ _ पटवारी हल्का नंबर/सेक्टर नंबर _ _ _ _ _ _ _ _ _ _ ग्राम/नगरीय क्षेत्र _ _ _ _ _ _ में अवस्थित सर्वेक्षण संख्यांक/ब्लॉक संख्यांक/भू खंड संख्यांक के सीमांकन की रिपोर्ट पटवारी ने निम्नानुसार प्रस्तुत की है :<br/>
          1. सीमांकन के क्रियान्वयन की तारिख _ _ _ _ _ _ _ _ _ _ _ <br/>
          2. सीमांकन शुरू होने के समय _ _ _ _ _ _ _ _ _ _ _ _ _ सीमांकन समाप्त होने का समय  _ _ _ _ _ _ _ <br/>
          3. सीमांकन के नोटिस का विवरण हितबद्ध पक्षकारो को दिये
          <div class="seemankan-tbl pt-2">
            <table style="width:100%;">
              <thead>
                <tr>
                  <th style="width:10%;">स क्र</th>
                  <th style="width:30%;">नाम</th>
                  <th style="width:60%;">नोटिस की तामीली का प्रकार तथा तारीख</th>
                </tr>
                <tr>
                  <th>(1)</th>
                  <th>(2)</th>
                  <th>(3)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1.</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>2.</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>3.</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>4.</td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
          <br/>
          4. पक्षकारो का विवरण जिन्हें नोटिस तामील नहीं हो सका 
          <div class="seemankan-tbl pt-2">
            <table style="width:100%;">
              <thead>
                <tr>
                  <th style="width:10%;">स क्र</th>
                  <th style="width:30%;">नाम</th>
                  <th style="width:60%;">नोटिस की तामील न होने के कारण</th>
                </tr>
                <tr>
                  <th>(1)</th>
                  <th>(2)</th>
                  <th>(3)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1.</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>2.</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>3.</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>4.</td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-a4 only-print">
  <div class="row mrgn-top-20 mrgn-6">
    <div class="paragraph-28 mt-2">
      <div class="seemankan-tbl">
        <div class="mt-2 mb-3">
          5. सीमांकन के दौरान वर्तमान अधिकारियो तथा पक्षकारो के नाम
        </div>
        <table style="width: 100%;">
          <thead>
            <tr>
              <th style="width:15%;">स क्र</th>
              <th style="width:40%;">नाम</th>
              <th style="width:45%;">पदनाम</th>
            <tr>
            <tr>
              <th>(1)</th>
              <th>(2)</th>
              <th>(3)</th>
            <tr>
          </thead>
          <tbody>
            <tr>
              <td>1.</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>2.</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>3.</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>4.</td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <div class="mt-3 mb-3">
          6. संनिर्मित सीमा चिन्हो का क्रमांक _ _ _ _ _ _ _ _ _ _ _ _ _
        </div>
        <div class="mt-3 mb-3">
          7. भूमि या उसके भाग पर भूमिस्वामी से भिन्न किसी अन्य व्यक्ति के कब्जे का विविरण<br/>
          &nbsp;&nbsp;&nbsp;(रिपोर्ट के साथ नक़्शे में लाल स्याही से चिन्हित किया जाये)
        </div>
        <table style="width: 100%;">
          <thead>
            <tr>
              <th style="width:10%;">स क्र</th>
              <th style="width:30%;">नाम</th>
              <th style="width:30%;">क्षेत्रफल(हे/वर्ग मी में)</th>
              <th style="width:30%;">ब्यौरे</th>
            <tr>
            <tr>
              <th>(1)</th>
              <th>(2)</th>
              <th>(3)</th>
              <th>(4)</th>
            <tr>
          </thead>
          <tbody>
            <tr>
              <td>1.</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>2.</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>3.</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>4.</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <div class="mt-3 mb-3">
          8. सीमांकन के दौरान उठाई गई आपत्तियों के विविरण तथा उन पर विनिश्चय
        </div> 
        <table style="width:100%">
          <thead>
            <tr>
              <th style="width:10%;">स क्र</th>
              <th style="width:30%;">आपत्तिकर्ता का नाम</th>
              <th style="width:30%;">संक्षिप्त में आपत्तियां</th>
              <th style="width:30%;">आपत्तियों पर विनिश्चय</th>
            <tr>
            <tr>
              <th>(1)</th>
              <th>(2)</th>
              <th>(3)</th>
              <th>(4)</th>
            <tr>
          </thead>
          <tbody>
            <tr>
              <td>1.</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>2.</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>3.</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>4.</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="page-a4 only-print">
  <div class="row mrgn-top-20 mrgn-6">
    <div class="paragraph-28 mt-2">
      <div class="seemankan-tbl">
        <div class="mt-2 mb-3">
          9. पंचनामा में हस्ताक्षर करने से इनकार करने वाले व्यक्तियों का विवरण 
        </div>
        <table style="width: 100%;">
          <thead>
            <tr>
              <th style="width:15%;">स क्र</th>
              <th style="width:40%;">नाम</th>
              <th style="width:45%;">इनकार करने का कारण </th>
            <tr>
            <tr>
              <th>(1)</th>
              <th>(2)</th>
              <th>(3)</th>
            <tr>
          </thead>
          <tbody>
            <tr>
              <td>1.</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>2.</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>3.</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>4.</td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <div class="mt-3 mb-3">
          10 . यदि सीमांकन नहीं किया जा सका हो तो कारण अभिलिखित किये जाएं  - 
        </div>
        <div class="mt-3 mb-3">
          11. राजस्व निरीक्षक /नगर सर्वेक्षक की टिप्पणियां_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _<br/>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _<br/>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _<br/> 
        </div>
        <div class="mt-3 mb-3">
          12. दल प्रमुख की टिप्पणियां _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _<br/>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _<br/>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _<br/> 
        </div>
        <br/><br/>
        <div class="mt-4 fnt-b">
          <div class="fLeft">
            तारीख _ _ _ _ _ _ _ _<br/>
            स्थान  _ _ _ _ _ _ _ _ 
          </div>
          <div class="fRight">
            हस्ताक्षर <br/>
            नाम _ _ _ _ _ _ _ _ _ _ _ _<br/>
            राजस्व निरीक्षक /नगर सर्वेक्षक
          </div>
        </div>
        <br/><br/><br/>
        <div class="mt-3 mb-3">
          <div class="fnt-b">
            संलग्न :<br/>
          </div>
          <div class="padding-4">
            1. हितबद्ध पक्षकारो पर तामील किए गए नोटिस की प्रतियां <br/>
            2. बिना तामील हुये'नोटिस मूल में (यदि कोई हो)<br/>
            3. पंचनामा <br/>
            4. क्षेत्र पुस्तिका <br/>
            5.नक्शा <br/>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>
