<% @balees.each do | balee |%>
  <li class="list-group-item" role="option" data-autocomplete-value="<%= balee %>"><%=  balee %></li>
<% end %>

<%#= article.english_title + " : " + article.hindi_title %>
