<h1>Editing blank form</h1>

<%= render "form", blank_form: @blank_form %>

<br>

<div>
  <%= link_to "Show this blank form", @blank_form %> |
  <%= link_to "Back to blank forms", blank_forms_path %>
</div>
