<%= form_with(model: khasra) do |form| %>
  <% if khasra.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(khasra.errors.count, "error") %> prohibited this khasra from being saved:</h2>

      <ul>
        <% khasra.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
