@import "bootstrap";
@import "custom_css";
@import "devise";
@import "participant";
@import "blank_forms";
@import "image";
/*@import "font-awesome";*/


.page-header{
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,1)),color-stop(100%,rgba(255,248,243,1)));
  background: -webkit-linear-gradient(90deg,rgba(255,255,255,1) 0%,#b3ffff 100%);
  background: -o-linear-gradient(90deg,rgba(255,255,255,1) 0%, #b3ffff 100%);
  background: -ms-linear-gradient(90deg,rgba(255,255,255,1) 0%,#b3ffff 100%);
  background: linear-gradient(0deg, white 0%, #b3ffff 100%);
  background: -moz-linear-gradient(90deg, white 0%, #b3ffff 100%);
  border-bottom: 2px solid #00e6e6;
  border-top: 1px solid #00e6e6;
  padding: 12px 8px;
  font-size: 22px;
  font-weight: bold;
  color: #3b7ddd;
}
.page-sub-header{
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,1)),color-stop(100%,rgba(255,248,243,1)));
  background: -webkit-linear-gradient(90deg,rgba(255,255,255,1) 0%,#b3ffff 100%);
  background: -o-linear-gradient(90deg,rgba(255,255,255,1) 0%, #b3ffff 100%);
  background: -ms-linear-gradient(90deg,rgba(255,255,255,1) 0%,#b3ffff 100%);
  background: linear-gradient(0deg, white 0%, #b3ffff 100%);
  background: -moz-linear-gradient(90deg, white 0%, #b3ffff 100%);
  border-bottom: 2px solid #00e6e6;
  border-top: 1px solid #00e6e6;
  padding: 4px;
  font-size: 18px;
  font-weight: bold;
  color: #3b7ddd;
}

.d-iblock{ display: inline-block;}
.divider-bdr{
  border-bottom: 1px solid lightgray;
  margin-top: 6px; margin-bottom: 6px;
}
.d-table { display: table; border-collapse: collapse; }
.d-row { display: table-row }
.d-cell { display: table-cell; }
.hide { display: none;}

@font-face {
  font-family: 'kruti dev' ;
  font-style: normal;
  font-weight: 400;
  font-display: block;
  font-size: 22px;
  src: url( '/assets/krutidev-010.ttf' )  format('truetype');
}
.hinditext, .hinditext > * {
  font-family: 'kruti dev';
}


#copy-krutidev-font:active, #copy-unicode-font:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}