/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "custom_css";
@import "devise";
/*@import "font-awesome";*/


.page-header{
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,1)),color-stop(100%,rgba(255,248,243,1)));
  background: -webkit-linear-gradient(90deg,rgba(255,255,255,1) 0%,#b3ffff 100%);
  background: -o-linear-gradient(90deg,rgba(255,255,255,1) 0%, #b3ffff 100%);
  background: -ms-linear-gradient(90deg,rgba(255,255,255,1) 0%,#b3ffff 100%);
  background: linear-gradient(0deg, white 0%, #b3ffff 100%);
  background: -moz-linear-gradient(90deg, white 0%, #b3ffff 100%);
  border-bottom: 2px solid #00e6e6;
  border-top: 1px solid #00e6e6;
  padding: 12px 8px;
  font-size: 22px;
  font-weight: bold;
  color: #3b7ddd;
}
.d-iblock{
  display: inline-block;
}
.divider-bdr{
  border-bottom: 1px solid lightgray;
  margin-top: 6px; margin-bottom: 6px;
}
.d-table { display: table; border-collapse: collapse; }
.d-row { display: table-row }
.d-cell { display: table-cell; }