.page {
  width: 21cm;
  height: 29.7cm; 
  padding: 2%;
  margin-bottom: 20px;
}
.page-landscape {
  width: 29.7cm;
  height: 21cm; 
  padding: 2%;
  margin-bottom: 20px;
}
page[size="A4"] {  
  width: 21cm;
  height: 29.7cm; 
  padding: 2%;
}

.page-a4 {  
  width: 21cm;
  height: 29.7cm; 
  padding: 2%;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  margin-bottom: 20px;
  overflow-y: auto;
}
.page-a4-landscape {  
  width: 29.7cm;
  height: 21cm; 
  padding: 2%;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  margin-bottom: 20px;
  overflow-x: auto;
}

page[size="A4"][layout="landscape"] {
  width: 29.7cm;
  height: 21cm;  
}

.fnt-12 { font-size: 12px !important; }
.fnt-14 { font-size: 14px !important; }
.fnt-15 { font-size: 15px !important; }
.fnt-16 { font-size: 16px !important; }
.fnt-17 { font-size: 17px !important; }
.fnt-18 { font-size: 18px !important; }
.fnt-20 { font-size: 20px !important; }
.fnt-22 { font-size: 22px !important; }
.fnt-24 { font-size: 24px !important; }
.fnt-26 { font-size: 26px !important; }
.fnt-28 { font-size: 28px !important; }
.fnt-30 { font-size: 30px !important; }
.fnt-b  { font-weight: bold; }
.fnt-u {text-decoration: underline;}
.txt-center { text-align: center }
.ln-hgt-30 { line-height: 30px; text-align: justify; }
.ln-hgt-40 { line-height: 40px; text-align: justify; }
.txt-indent-1 {text-indent: 1cm;}
.txt-indent-2 {text-indent: 2cm;}
.txt-indent-3 {text-indent: 3cm;}
.txt-indent-4 {text-indent: 4cm;}
.pd-4 {padding: 4px;}
.pd-x4 { padding-left: 4px; padding-right: 4px; }
.mrgn-top-5{margin-top: 5px;}
.mrgn-top-10{margin-top: 10px;}
.mrgn-top-15{margin-top: 15px;}
.mrgn-top-20{margin-top: 20px;}
.padding-2 { padding-left: 2%; padding-right: 2%;}
.padding-3 { padding-left: 3%; padding-right: 3%;}
.padding-5 { padding-left: 5%; padding-right: 5%;}
.padding-8 { padding-left: 8%; padding-right: 8%;}
.padding-10 { padding-left: 10%; padding-right: 10%;}
.pd-left-3{ padding-left:3%; }
.pd-left-5{ padding-left:5%; }
.pd-left-8{ padding-left:8%; }
.pd-left-10{ padding-left:10%; }
.w-15{width: 15%;}
.w-20{width: 20%;}
.w-70{width: 70%;}
.w-65{width: 65%;}
.ln-hgt-35 { line-height: 35px; }
.ln-hgt-40 { line-height: 40px; }

.mrgn-2{ margin-left: 2%; margin-right: 2%; }
.mrgn-4{ margin-left: 4%; margin-right: 4%; }
.mrgn-6{ margin-left: 6%; margin-right: 6%; }
.mrgn-8{ margin-left: 8%; margin-right: 8%; }
.mrgn-10{ margin-left: 10%; margin-right: 10%; }
.mrgn-lft-5 { margin-left: 5%; }

.fLeft {float:left;}
.fRight{float:right;}

.paragraph, .paragraph-40{
  line-height: 40px;
  font-size: 18px;
  text-align: justify;
}
.paragraph-22{
  line-height: 24px;
  font-size: 14px;
  text-align: justify;
}
.paragraph-28{
  line-height: 28px;
  font-size: 14px;
  text-align: justify;
}
.paragraph-30{
  line-height: 30px;
  font-size: 16px;
  text-align: justify;
}
.paragraph-35{
  line-height: 35px;
  font-size: 18px;
  text-align: justify;
}

.seemankan-tbl{
  table tr th {
    border: 1px solid gray;
    text-align: center;
    padding: 5px 4px;
  }
  table tr td {
    border: 1px solid gray;
    text-align: center;
    padding: 4px 4px;
  }
}

.first-row{ 
  .table-left-column{
    text-align: center;vertical-align: middle;font-size:16px;
    border-top: 2px solid gray;
    display: grid;  align-items : center;
  }
  .table-center-column{
    text-align: center;vertical-align: middle;font-size:16px;
    border-top: 2px solid gray;
    display: grid;  align-items : center;
  }
  .table-right-column{
    text-align: center;vertical-align: middle;font-size:16px;
    border-top: 2px solid gray;
     display: grid;  align-items : center;
  }
}

.table-left-column{
  vertical-align: middle;font-size:16px;
  /*border-top: 2px solid gray;*/ border-bottom: 2px solid gray;
  display: grid;  align-items : center;
}
.table-center-column{
  vertical-align: middle;font-size:16px;
  /*border-top: 2px solid gray;*/ border-bottom: 2px solid gray;
  border-left: 2px solid gray; border-right: 2px solid gray; 
  display: grid;  align-items : center;
}
.table-right-column{
  vertical-align: middle;font-size:16px;
  /*border-top: 2px solid gray;*/ border-bottom: 2px solid gray; 
   display: grid;  align-items : center;
}

.order1-desc{
  min-height: 620px; position: relative;
}

.column12{
  width: 12%;
  text-align: center;vertical-align: middle;
  border: 1px solid gray;padding: 8px 0px;font-weight: bold;
}
.column25{
  width: 25%;
  text-align: center;vertical-align: middle;
  border: 1px solid gray;padding: 8px 0px;font-weight: bold;
}
.column15{
  width: 15%;
  text-align: center;vertical-align: middle;
  border: 1px solid gray;padding: 8px 0px;font-weight: bold;
}
.width25{
  width: 25%;
  vertical-align: middle;
}

/*.flysheet_pdf, .ordersheet_pdf, .applicant-application-pdf, .unapplicant-application-pdf,
.applicant-affidavit-pdf, .unapplicant-affidavit-pdf {
  margin-top: 10px;
}
.ishthaar-affidavit-pdf, .kathan-affidavit-pdf{
  min-height: 1310px;
}*/