.sign-in-container, .sign-up-container{
  margin-top: 20px;
  border: 1px solid gray;
  border-radius: 6px;
  padding: 12px;
  moz-box-shadow: 0 0 25px #ccc;
  -webkit-box-shadow: 0 0 25px #ccc;
  box-shadow: 0 0 25px #ccc;
}
.signup-img{
  width: 480px;
  height: 645px;
  margin-top:  15px;
  border-radius: 5px;
}