<h1>Editing khasra battank</h1>

<%= render "form", khasra_battank: @khasra_battank %>

<br>

<div>
  <%= link_to "Show this khasra battank", @khasra_battank %> |
  <%= link_to "Back to khasra battanks", khasra_battanks_path %>
</div>
